@font-face {
    font-family: 'Brandon Grotesque';
    src: url('assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('assets/font/BrandonGrotesque-Bold.woff') format('woff'),
        url('assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

* {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Brandon Grotesque';
    font-size: 12px;
}
.buttonStandard {
    background-color:  #215184;
    color: white;
    border: none;
    padding: 0.5em;
    margin-left: 0.5em;

}
.buttonSpecial {
    border-radius: 10em;
    min-width: 25em;
    min-height: 3em;
    padding: none;
    background-color:  #215184;
    color: white;
    border: none;
    position: absolute;
    left: 82vw;
    top: 5vh;
}
.buttonIcon {
    margin-left: 1em;
}
.buttonContainer {
    margin-left: 30em;
}
.logo {
    max-width: 300px;
}
.logoText {
    font-size: 2em;
}
.logoContainer {

    color: #545454;
    position: absolute;
    top: -5px;
    left: -5px;
}

.flex {
    display: flex;
}
.right {
    text-align: right;
    
}
.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.splashImage {
    max-width: 25vw;
    margin-top: 20vh;
    margin-left: 2em;
}

.cardContainer {
    border-radius: 0.2em;
    margin-top: 15vh;
    margin-left: 2vw;
    min-width: 30vw;
}
.title {
        font-weight: bold;
}
.cardSubcontainer {
    margin-left: 20em;
}
.card {
    color: #545454;
    margin-top: 0.8em;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
    border-radius: 0.5em;
    padding: 0.4em;
}
.number {
    font-size: 3em;
    /* font-weight: 800; */
}
.title {
    margin-left: 2em;
    font-size: 2em;
    /* font-weight: 800; */
}
.rocketID {
    margin-top: 0.8em;
    /* font-weight: 800; */
    font-size: 1.5em;
}
.date {
    font-weight: 100 !important;
}

.refresh {

}