@font-face {
    font-family: 'Brandon Grotesque';
    src: url('assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('assets/font/BrandonGrotesque-Bold.woff') format('woff'),
        url('assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

* {
    font-family: 'Brandon Grotesque';
    font-size: 12px;
    overflow-x: hidden;
}
.buttonStandard {
    background-color:  #215184;
    color: white;
    border: none;
    padding: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;

}
.buttonSpecial {
    border-radius: 10em;
    min-width: 25em;
    min-height: 3em;
    padding: none;
    background-color:  #215184;
    color: white;
    border: none;
    position: fixed;
    left: 93vw;
    top: 5vh;
    text-align: left;
    overflow-x: hidden;
    cursor: pointer;
}
.buttonIcon {
    margin-left: 1em;
    cursor: pointer;
}
.buttonContainer {
    margin-left: 30em;
}
.Dropdown-control {
    border: none !;
    background-color: #215184 !important;
    color: white !important;
}

.Dropdown-arrow {
    /* border-color: white !important; */
}
.logo {

    max-width: 300px;
}
.logoText {
    font-size: 2em;
}
.logoContainer {

    color: #545454;
    position: fixed;
    top: -5px;
    left: -5px;
}

.flex {
    display: flex;
}
.right {
    text-align: right;
    
}
.rightHand {
    position: absolute;
    left: 30vw;
}
.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.splashImage {
    position: fixed;
    max-width: 25vw;
    margin-top: 20vh;
    margin-left: 2em;
}

.cardContainer {
    border-radius: 0.2em;
    margin-top: 15vh;
    margin-left: 2vw;
    min-width: 35vw;
    padding: 2em;
}
.title {
        font-weight: bold;
}
.cardSubcontainer {
    position: absolute;
    margin-left: 35em;
}
.card {
    color: #545454;
    margin-top: 0.8em;
    width: auto;
    min-width: 500px;
    max-width: 40vw;
    height: auto;
    min-height: 6vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 15px;
    border-radius: 0.5em;
    padding: 0.4em;
}
.number {
    font-size: 3em;
    position: absolute;
    margin-right: 30vw;
    margin-left: 0vw;
}
.title {
    font-size: 1.8em;
    margin-left:5.5em;
    text-align: left;
    width:100%;
}
.rocketID {
    margin-top: 0.8em;
    font-size: 1.5em;
}
.date {
    font-weight: 100 !important;
    margin-left: 6em;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }